@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;1,300;1,400&family=Sofia&display=swap");
header {
  font-family: "Sofia", cursive;
  color: #444;
  font-size: xx-large; }

.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.nav-link:hover {
  border-bottom: 2px dotted #666; }

.card-title {
  font-family: "Merriweather", serif; }

.title-text {
  font-family: "Merriweather", serif; }

.social {
  color: #666; }

.social:hover {
  color: #444; }
